<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
<listener class-name="reporting.SetUp"></listener>
        
    </listeners>
    <test verbose="2" preserve-order="true"
          name="C:/Users/shashank.f.garg/IdeaProjects/RestAssuredAdvanced/src/test/java/airlines/AirlineTest.java">
        <classes>
            <class name="airlines.AirlineTest"/>
            <class name="airlines.AirlineVerify">

            </class>
        </classes>
    </test>
</suite>